<div class="text-center rating">
  <p class="font-weight-bold">Total Rating Test: <%= @average_rating %></p>
  <div class="rating-stars">
    <% @average_rating.times do  %>
      <i class="bi bi-star-fill text-warning"></i>
    <% end %>
    <% (5 - @average_rating).times do  %>
      <i class="bi bi-star text-warning"></i>
    <% end %>
  </div>
</div>

<div class="container text-center mt-5">
  <h1 class="h3">Rate My CICD</h1>
   <%= form_with(model: @rating, url: ratings_path, method: :post) do |form| %>
  <div class="d-flex justify-content-center">
    <div class="form-group mr-2">
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <% (1..5).each do |value| %>
          <label class="btn btn-outline-warning">
            <%= form.radio_button :value, value, id: "star#{value}", :required => 'required' %>
            &#9733;
          </label>
        <% end %>
      </div>
    </div>
    <div class="form-group">
      <%= form.submit "Rate", class: "btn btn-primary btn" %>
    </div>
  </div>
<% end %>

</div>
